@font-face {
  font-family: stratosFont;
  src: url("/assets/fonts/stratos-font-family-1683725785-0/stratos-extrabold-TRIAL-BF63c6049ff24de.otf");
}
.home-page {
  color: rgb(240, 240, 240);
  font-family: stratosFont;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.bio {
  margin-right: 5vw;
  margin-left: 5vw;
  z-index: 1;
  color: rgb(240, 240, 240);
  font-family: stratosFont;
  text-align: center;
}

.personal-img-container {
  display: flex;
  width: 100vw;
  height: 70vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: personal-img 1.5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.bg-blob {
  position: relative;
  z-index: 1;
  height: 48vw;
  margin-top: 4vw;
}

.personal-img {
  position: absolute;
  z-index: 2;
  height: 38vw;
  width: 38vw;
  border-radius: 50%;
  background-image: url("/assets/img/img_me.jpeg");
  background-size: cover;
}

.bio-1 {
  font-weight: 1000;
  font-size: 1.5em;
  text-transform: uppercase;
  animation: bio-1 1.5s;
}

.bio-2 {
  font-size: 1.2em;
  opacity: 0;
  animation: bio-2 1.5s forwards;
  animation-delay: 1.5s;
}

.bio-3 {
  margin-top: 5vh;
  font-size: 1em;
  opacity: 0;
  animation: bio-3 1s forwards;
  animation-delay: 3s;
}

.bio-4 {
  margin-top: 5vh;
  font-size: 0.8em;
  opacity: 0;
  animation: bio-4 1s forwards;
  animation-delay: 3s;
}

.bio-5 {
  margin-top: 10vh;
  font-size: 1em;
  opacity: 0;
  animation: bio-5 1.5s forwards;
  animation-delay: 4s;
}

.bio-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio-6 img {
  width: 22vw;
  margin-bottom: 10vw;
  margin-left: 3vw;
  opacity: 0;
  animation: bio-arrow 1.5s forwards;
  animation-delay: 4s;
}
.bio-6 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  width: 20vw;
  min-width: 100px;
  height: 10vw;
  min-height: 50px;
  font-family: stratosFont;
  font-weight: 700;
  font-size: 0.8em;
  color: rgb(240, 240, 240);
  border-radius: 2vw;
  background-color: rgb(255, 20, 147);
  opacity: 0;
  transition-duration: 0.4s;
  animation: bio-button 1.5s forwards;
  animation-delay: 4s;
}
.bio-6 a:hover {
  background-color: rgb(187, 20, 108);
  transition-duration: 0.4s;
}

@keyframes bio-1 {
  from {
    transform: translateY(-5vw);
    opacity: 0;
  }
}
@keyframes bio-2 {
  from {
    transform: translateX(-5vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bio-3 {
  from {
    transform: translateY(5vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bio-4 {
  from {
    transform: translateY(5vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bio-5 {
  from {
    transform: translateY(5vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes personal-img {
  from {
    transform: translateY(5vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bio-arrow {
  from {
    transform: rotate(50deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes bio-button {
  from {
    transform: translatex(-20vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 576px) {
  .personal-img {
    height: 30vw;
    width: 30vw;
  }
  .bg-blob {
    height: 38vw;
  }
  .personal-img-container {
    height: 50vw;
  }
  .bio-1 {
    font-size: 1.6em;
  }
  .bio-2 {
    font-size: 1.3em;
  }
  .bio-4 {
    font-size: 1.2em;
  }
  .bio-3,
  .bio-5 {
    font-size: 1.5em;
  }
  .bio-6 img {
    width: 20vw;
  }
  .bio-6 a {
    font-size: 1em;
  }
}
@media (min-width: 576px) and (min-width: 768px) {
  .bio-6 img {
    width: 20vw;
  }
  .bio-6 a {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 992px) {
  .personal-img-container {
    position: absolute;
    width: 50vw;
    height: 40vw;
    right: 0;
    margin: 0;
  }
  .personal-img {
    height: 22vw;
    width: 22vw;
  }
  .bg-blob {
    height: 27vw;
  }
  .bio-3 {
    margin-top: 12vw;
  }
  .bio-3,
  .bio-4,
  .bio-5,
  .bio-6 {
    width: 50vw;
  }
  .bio-6 {
    height: 20vw;
  }
  .bio-6 img {
    margin-top: 5vw;
    width: 10vw;
  }
  .bio-6 a {
    width: 12vw;
    height: 5vw;
    border-radius: 1vw;
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  .personal-img-container {
    height: 30vw;
  }
  .bio-3 {
    margin-top: 8vw;
  }
  .personal-img {
    height: 18vw;
    width: 18vw;
  }
  .bg-blob {
    height: 23vw;
  }
}
@media only screen and (min-width: 1200px) {
  .bio-1 {
    font-size: 1.8em;
  }
  .bio-2 {
    font-size: 1.5em;
  }
  .bio-4 {
    font-size: 1.4em;
  }
  .bio-3,
  .bio-5 {
    font-size: 1.7em;
  }
  .bio-6 img {
    margin-top: 5vw;
    width: 8vw;
  }
}/*# sourceMappingURL=styles.css.map */