*
{
box-sizing: border-box;
margin: 0;
padding: 0;

}
@font-face{
  font-family: stratosFont;
  src: url("/assets/fonts/stratos-font-family-1683725785-0/stratos-extrabold-TRIAL-BF63c6049ff24de.otf");
}

html
{
scroll-behavior: smooth;
}

h1,
h2{
  top: 70px;
  padding-top: 80px;
  font-family: stratosFont;
}
span{
  display: block;
}
.content-container {
    position: relative;
    justify-items: center;
    display: grid;
    grid-template-columns: 95vw;
    grid-column-gap: 20px;
    grid-row-gap: 40px;

  }

.section{
    min-height: 100vh;
    width: 95vw;
}

.fixed-bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background-image: url(/assets/img/bg-blue-vertical.svg);
  background-size: 100%;
  z-index: 0;
}

  //Large devices (desktops, 992px and up)
  @media only screen and (min-width:992px) {
    .fixed-bg{

      background-image: url(/assets/img/bg-blue.svg);

    }
  }
