* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// X-Small devices (portrait phones, less than 576px)

.grid-container-skills{
    display:grid;
    grid-template-columns: 80vw;
    grid-auto-rows: 80vw;
    justify-content: center;
    align-items: center;
    gap: 2vw;  

    font-family: stratosFont;
}

.skills-card{
    height: 100%;
    width: 100%;
    
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;

    h3{
        position: relative;
        margin-left: 1vw;
        margin-bottom: 1vw;
        text-transform: uppercase;
    }
}

.skill-line{
    height: 24%;
    width: 100%;

    display:flex;
}

.skill-name{
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 25vw;

    flex-direction: column;
    justify-content: end;
    align-items: center;

    background-blend-mode: overlay;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -3vw;

    overflow: hidden;
    span{
        font-weight: bold;
        font-size: 3vw;
        margin-bottom: 1vw;
        text-transform: uppercase;
    }
}

.skill-advancement{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.dot{

    height: 6vw;
    width: 6vw;

    shape-outside: circle(50%);
    clip-path: circle(50% at 50%);

    margin: 3vw;
    background-color: aqua;
}
.half-dot{
    shape-outside: circle(50%);
    clip-path: circle(50% at right);
    transform: translateX(-3vw);
}

//backgrounds (images)
.bg-javascript{
background-image: url(/assets/img/languages/lang-ridefiniti/javascript.png);
}

.bg-c-sharp{
    background-image: url(/assets/img/languages/lang-ridefiniti/C-sharp.png);
}

.bg-java{
    background-image: url(/assets/img/languages/lang-ridefiniti/java.png);
}

.bg-html{
    background-image: url(/assets/img/languages/lang-ridefiniti/html.png);
}

.bg-css{
    background-image: url(/assets/img/languages/lang-ridefiniti/css.png);
}

.bg-sass{
    background-image: url(/assets/img/languages/lang-ridefiniti/sass.png);
}

.bg-photoshop{
    background-image: url(/assets/img/languages/lang-ridefiniti/photoshop.png);
}

.bg-office{
    background-image: url(/assets/img/languages/lang-ridefiniti/office.png);

}

.bg-ItFlag{
    background-image: url(/assets/img/languages/lang-ridefiniti/ItFlag.png);
}

.bg-EnFlag{
    background-image: url(/assets/img/languages/lang-ridefiniti/EnFlag.png);
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    .grid-container-skills{
        grid-template-columns: repeat(2, 40vw);
        grid-auto-rows: 40vw;
    }

    .dot{
        height: 3vw;
        width: 3vw;

        margin: 1.5vw;

    }
    .half-dot{
        shape-outside: circle(50%);
        clip-path: circle(50% at right);
        transform: translateX(-1.5vw);
    }

    .skill-name{
        height: 9vw;
        width: 9vw;

        background-position: 0 -1.5vw;

        span{
            font-weight: bold;
            font-size: 1.5vw;
            margin-bottom: 2vw;
            }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .grid-container-skills{
        grid-template-columns: repeat(2, 35vw);
        grid-auto-rows: 35vw;
    }

    .dot{
        height: 2vw;
        width: 2vw;

        margin: 1.5vw;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1900px and up)
@media (min-width: 1900px) {}