* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// X-Small devices (portrait phones, less than 576px)

.grid-container-skills{
    display:grid;
    grid-template-columns: 80vw;
    grid-auto-rows: 80vw;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.skills-card{
    height: 100%;
    width: 100%;


    
    background-color: white;
    overflow: hidden;
}

.skill-line{
    height: 20%;
    width: 100%;

    display:flex;
}

.skill-name{
    display: inline-flex;
    height: 18vw;
    width: 18vw;

    flex-direction: column;
    justify-content: end;
    align-items: center;

    background-blend-mode: overlay;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    overflow: hidden;
    p{
        font-weight: bold;
        font-size: 3vw;
        margin-bottom: 1vw;
    }
}

.skill-advancement{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.dot{
    height: 6vw;
    width: 6vw;

    border-radius: 50%;
    margin: 3vw;
    background-color: aqua;
    overflow: hidden;
}

.half-dot{
    width: 50%;
    height: 100%;
    background-color: white;
    margin-left: 50%;
}

//backgrounds (images)
.bg-javascript{
background-image: url(javascript.png);
}

.bg-c-sharp{
    background-image: url(c-sharp.png);
}

.bg-java{
    background-image: url(java.png);
}

.bg-html{
    background-image: url(html.png);
}

.bg-css{
    background-image: url(css.png);
}

.bg-sql{
    background-image: url(sql.png);
}

.bg-sql{
    background-image: url(sass.png);
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .grid-container-skills{
        grid-template-columns: repeat(2, 45vw);
        grid-auto-rows: 45vw;
    }
    .dot{
        height: 3vw;
        width: 3vw;

        margin: 1.5vw;

    }

    .skill-name{
        height: 9vw;
        width: 9vw;

        p{
            font-weight: bold;
            font-size: 1.5vw;
            margin-bottom: 0.5vw;
        }
    }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1900px and up)
@media (min-width: 1900px) {}