/*$primaryColor: rgb(114,102,216); */
$primaryColor:  rgba(0, 16, 28, 0.6);   ;//// rgb(10,20,45); 
$secondColor: rgb(187, 20, 108); //#5DEEAC;
$thirdColor: rgb(240,240,240);// rgb(80, 80, 80);
$primaryFont: stratosFont;


body
{
    background-color: $primaryColor;
    color: $thirdColor;
}


/* Mobiles */

// ***** NAVIGATION BAR STYLE *****
.nav-container
{
width: 100%;
position: fixed;
z-index: 20;

display: flex;
justify-content: center;

background-color: $primaryColor;

transition-duration: 0.4s;

}

.prova
{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 80px;
}

.main-nav
{
    
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content:  space-around;
    
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 1em;

    transition-duration: 0.4s;

    overflow: hidden;
}

.nav-1
{
    width: 50%;
    display:flex;
    justify-content: start;
    
    #logo
    {
        width: 50px;
        margin-left: 20px;
        margin-top: 20px;
    }
}

.mobile-menu-button-container
{
    width: 50%;
    display: flex;
    justify-content: end;
    
    .button
    {
    background:transparent;
    border: none;
    color: $thirdColor;
    cursor: pointer;

    height: 30px;
    font-size: 1.25em;
    margin: 20px;

}

.button:hover
{
    color: $secondColor; 
}
}

.nav-2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: 100px;
    a
    {
        text-decoration: none;
        text-transform: uppercase;
        color: $thirdColor;
        padding: 10px;
    }

    a:hover,
    a:active
    {
        background-color: black;
    }
}

.nav-3
{
    display: flex;
    flex-direction:  row;
    margin-top: 10px;


}

.icon
{
    opacity: 0; //fix icons appearing for a moment at the load of the site
}

.icon:hover,
.icon:active
{
    background-color: transparent;
}


/* desktops */
@media only screen and (min-width:960px) 
{

    .main-nav
    {
        width: 90vw;
    }

.nav-1
{
    display: flex;
    width: 25%;
}

.nav-2
{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin-top: 0px;
    height: 70px;
    a
    {
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        text-transform: uppercase;
        transition: 0.3s;
        color: $thirdColor;
    }
    a:hover
        {
            transform: translate(0, -5px);
            color: $secondColor;
            transition: 0.4s;
            background-color: transparent;

        }

     
}

.nav-3
{
    width:25%; 
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.icon
{
    opacity: 1;
    font-size: 1.5em;
    margin-right: 20px;
    color: $thirdColor;
    transition-duration: 0.4s;
    text-decoration: none;

}

.icon:hover
{
    color: $secondColor;
    transform: scale(1.2);
}
.mobile-menu-button-container
{
    display: none;
}
 // ***** END OF NAVIGATION BAR STYLE *****
}


// X-Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) 
{
    .main-nav
{
    width: 80vw;
}
}

// XX-Large devices (larger desktops, 1900px and up)
@media (min-width: 1900px) {

}
