/*$primaryColor: rgb(114,102,216); */
$primaryColor: rgb(10,20,45); 
$secondColor: #5DEEAC;
$greyColor: rgb(139, 131, 167);
$primaryFont: "Lucida Sans Typewriter";
$fontStack: "Rockwell Extra Bold,Rockwell Bold,monospace";

*
{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body
{
    background-color: $primaryColor;
    color: $secondColor;
}


/* Mobiles */
.nav-container
{
width: 100%;
position: fixed;
z-index:1;
}

.prova
{
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: 80px;
}

.main-nav
{
    
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content:  space-around;
    
    font-family: $fontStack;
    font-weight: 500;
    font-size: 1em;

    transition-duration: 0.4s;

    overflow: hidden;
}

.nav-1
{
    width: 50%;
    display:flex;
    justify-content: start;
    
    #logo
    {
        width: 50px;
        margin-left: 20px;
        margin-top: 20px;
    }
}
.mobile-menu-button-container
{
    width: 50%;
    display: flex;
    justify-content: end;
    
    .button
    {
    background:transparent;
    border: none;
    color: $greyColor;
    cursor: pointer;

    height: 30px;
    font-size: 1.25em;
    margin: 20px;

}

.button:hover
{
    color: $secondColor; 
}
}




.nav-2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: 100px;
    a
    {
        text-decoration: none;
        text-transform: uppercase;
        color: $greyColor;
        padding: 10px;
    }

    a:hover,
    a:active
    {
        background-color: black;
    }
}

.nav-3
{
    display: flex;
    flex-direction:  row;
    margin-top: 10px;
}

.icon
{
    font-size: 1.5em;
    color: $greyColor;
    transition-duration: 0.4s;
    text-decoration: none;
}
.icon:hover,
.icon:active
{
    background-color: transparent;
}

/* tablets and medium screen devices */
@media only screen and (min-width: 480px)
{
    body
    {
    }

}
/* desktops */
@media only screen and (min-width:960px) 
{

.main-nav
{

}
.nav-1
{
    display: flex;
    width: 25%;
}

.nav-2
{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin-top: 0px;
    height: 70px;
    a
    {
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        text-transform: uppercase;
        transition: 0.3s;
        color: $greyColor;
    }
    a:hover
        {
            transform: translate(0, -5px);
            color: $secondColor;
            transition: 0.4s;
            background-color: transparent;

        }

     
}

.nav-3
{
    width:25% !important; 
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}


.icon
{
    font-size: 1.5em;
    margin-right: 20px;
    color: $greyColor;
    transition-duration: 0.4s;
    text-decoration: none;

}

.icon:hover
{
    color: $secondColor;
    transform: scale(1.2);
}
.mobile-menu-button-container
{
    display: none;
}

}


/* large screens */
@media only screen and (min-width: 1200px) 
{

}
