.grid-container-portfolio {
  display: grid;
  grid-template-columns: 90vw;
  grid-auto-rows: 56.25vw;
  justify-content: center;
  margin-right: 0;
  gap: 1vw;
}

.project-card-container {
  height: 56.25vw;
  width: 90vw;
  overflow: hidden;
  font-family: stratosFont;
  letter-spacing: 0.05em;
}

.project-card {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 90vw;
  height: 50.625vw;
  border-radius: 15px;
  background-color: rgba(32, 32, 32, 0.8);
  background-blend-mode: overlay;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
  margin-top: 4.5vw;
  transition-duration: 0.5s;
}

.project-name {
  margin-left: 5.625vw;
  margin-top: 8%;
  font-size: 4.5vw;
  color: white;
  font-weight: bold;
  transition-duration: 0.5s;
}

.button-project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 5.625vw;
  height: 10.125vw;
  width: 22.5vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 20, 147);
  font-size: 3.6vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.7s;
}
.button-project span {
  font-family: stratosFont;
  letter-spacing: 0.05em;
  color: white;
  font-weight: bold;
}

.button-project:hover {
  height: 80%;
  width: 90%;
  background-color: rgba(255, 20, 147, 0.5);
  transition-duration: 0.7s;
}

.button-project:hover + .project-name {
  opacity: 0;
  transition-duration: 0.5s;
}

.lang-used {
  position: absolute;
  z-index: 10;
  height: 11.25vw;
  width: 11.25vw;
  background-color: rgba(32, 32, 32, 0.7);
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
}
.lang-used img {
  width: 100%;
}

.lang-used.item-1 {
  margin-left: 5.625vw;
}

.lang-used.item-2 {
  margin-left: 22.5vw;
}

.lang-used.item-3 {
  margin-left: 39.375vw;
}

.lang-used.item-4 {
  margin-left: 56.25vw;
}

#project-card-1 {
  background-image: url("/assets/img/portfolio/jsCounter.png");
}

@media (min-width: 576px) {
  .grid-container-portfolio {
    grid-template-columns: repeat(2, 45vw);
    grid-auto-rows: 28.125vw;
  }
  .project-card-container {
    height: 28.125vw;
    width: 45vw;
  }
  .project-card {
    width: 45vw;
    height: 25.3125vw;
    margin-top: 2.25vw;
  }
  .button-project {
    height: 5.0625vw;
    width: 11.25vw;
    font-size: 1.8vw;
    margin-left: 2.8125vw;
  }
  .lang-used {
    height: 5.625vw;
    width: 5.625vw;
  }
  .project-name {
    margin-left: 2.8125vw;
    font-size: 2.25vw;
  }
  .lang-used.item-1 {
    margin-left: 2.8125vw;
  }
  .lang-used.item-2 {
    margin-left: 11.25vw;
  }
  .lang-used.item-3 {
    margin-left: 19.6875vw;
  }
  .lang-used.item-4 {
    margin-left: 28.125vw;
  }
}
@media (min-width: 992px) {
  .grid-container-portfolio {
    grid-template-columns: repeat(3, 30vw);
    grid-auto-rows: 18.375vw;
  }
  .project-card-container {
    height: 18.375vw;
    width: 30vw;
  }
  .project-card {
    width: 30vw;
    height: 16.875vw;
    margin-top: 1.2vw;
  }
  .button-project {
    height: 3.375vw;
    width: 7.5vw;
    font-size: 1.2vw;
    margin-left: 1.5vw;
  }
  .lang-used {
    height: 3vw;
    width: 3vw;
  }
  .project-name {
    margin-left: 1.5vw;
    font-size: 1.5vw;
  }
  .lang-used.item-1 {
    margin-left: 1.5vw;
  }
  .lang-used.item-2 {
    margin-left: 6vw;
  }
  .lang-used.item-3 {
    margin-left: 10.5vw;
  }
  .lang-used.item-4 {
    margin-left: 15vw;
  }
}
@media (min-width: 1200px) {
  .grid-container-portfolio {
    grid-template-columns: repeat(3, 26vw);
    grid-auto-rows: 15.925vw;
  }
  .project-card-container {
    height: 15.925vw;
    width: 26vw;
  }
  .project-card {
    width: 26vw;
    height: 14.625vw;
    margin-top: 1.04vw;
  }
  .button-project {
    height: 2.925vw;
    width: 6.5vw;
    font-size: 1.04vw;
    margin-left: 1.3vw;
  }
  .lang-used {
    height: 2.6vw;
    width: 2.6vw;
  }
  .project-name {
    margin-left: 1.3vw;
    font-size: 1.3vw;
  }
  .lang-used.item-1 {
    margin-left: 1.3vw;
  }
  .lang-used.item-2 {
    margin-left: 5.2vw;
  }
  .lang-used.item-3 {
    margin-left: 9.1vw;
  }
  .lang-used.item-4 {
    margin-left: 13vw;
  }
}
@media (min-width: 1900px) {
  .grid-container-portfolio {
    grid-template-columns: repeat(4, 19.25vw);
    grid-auto-rows: 11.790625vw;
  }
  .project-card-container {
    height: 11.790625vw;
    width: 19.25vw;
  }
  .project-card {
    width: 19.25vw;
    height: 10.828125vw;
    margin-top: 0.77vw;
  }
  .button-project {
    height: 2.165625vw;
    width: 4.8125vw;
    font-size: 0.77vw;
    margin-left: 0.9625vw;
  }
  .lang-used {
    height: 1.925vw;
    width: 1.925vw;
  }
  .project-name {
    margin-left: 0.9625vw;
    font-size: 0.9625vw;
  }
  .lang-used.item-1 {
    margin-left: 0.9625vw;
  }
  .lang-used.item-2 {
    margin-left: 3.85vw;
  }
  .lang-used.item-3 {
    margin-left: 6.7375vw;
  }
  .lang-used.item-4 {
    margin-left: 9.625vw;
  }
}/*# sourceMappingURL=styles.css.map */